#html5qr-code-full-region {
  @apply w-full flex flex-col justify-center items-center;
  padding-top: 30px !important;
  border: none !important;
  & div:first-child {
    & > img {
      display: none;
    }
  }

  #html5qr-code-full-region__header_message {
    margin-top: -50px !important;
  }

  #html5qr-code-full-region__header_message {
    @apply mb-8 !important;
  }

  #html5qr-code-full-region__scan_region {
    @apply flex justify-center;
    img {
      @apply w-1/3;
    }
  }
  

  #html5qr-code-full-region__dashboard {
    @apply mt-6;

    #html5qr-code-full-region__dashboard_section_csr {
      button {
        @apply block w-full mt-6 py-3 px-5 text-xl font-semibold text-white border border-solid border-primaryColor bg-primaryColor rounded-3xl opacity-80 hover:opacity-100;
        margin-left: -10px;
      }

      #html5qr-code-full-region__camera_selection {
        @apply block mx-auto w-10/12 mt-2 py-3 rounded-2xl border border-solid border-gray-400 bg-gray-50;
      }
    }

    #html5qr-code-full-region__dashboard_section_fsr {
      @apply block mb-12;
      span {
        @apply block mt-2 text-lg;
      }
      
    }

    #html5qr-code-full-region__camera_permission_button {
      @apply ml-0 !important;
    }

    #html5qr-code-full-region__dashboard_section_swaplink {
      @apply no-underline !important w-full block mt-6 py-3 px-5 text-xl font-semibold text-primaryColor border border-solid border-primaryColor rounded-3xl cursor-pointer opacity-80 hover:opacity-100 ;
    }
  }
}